#wrapper {
    aspect-ratio: 1.618;
    width: 90vmin;
    position: relative;
}

#wrapper > .shape {
    height: 50%;
    width: 50%;
    background-color: rgba(255 255 255 / 10%);
    position: absolute;
    transition: left, top, height, width, border-radius;
    transition-duration: 750ms;
    transition-timing-function: ease-in-out;
}

#wrapper > .shape:hover {
    transition-property: opacity;
    transition-duration: 200ms;
    opacity: 0.8;
    cursor: pointer;
}

#wrapper > .shape:nth-child(1) {
    background-color: #6096ba;
}

#wrapper[data-configuration="1"] > .shape:nth-child(1) {
    height: 100%;
    left: 50%;
}

#wrapper[data-roundness="1"] > .shape:nth-child(1) {
    border-radius: 10rem;
}


#wrapper > .shape:nth-child(2) {
    background-color: #274c77;
}

#wrapper[data-configuration="1"] > .shape:nth-child(2) {
    top: 25%;
    height: 30%;
    width: 30vmin;
}

#wrapper[data-roundness="1"] > .shape:nth-child(2) {
    border-radius: 10rem;
}

/*#wrapper > .shape:nth-child(3) {*/
/*    background-color: #A3CEF1;*/
/*}*/

/*#wrapper > .shape:nth-child(4) {*/
/*    background-color: #fadf7f;*/
/*}*/

/*#wrapper > .shape:nth-child(5) {*/
/*    background-color: #d9b26f;*/
/*}*/

/*#wrapper > .shape:nth-child(6) {*/
/*    background-color: #ff8552;*/
/*}*/
/*#wrapper > .shape:nth-child(7) {*/
/*    background-color: #e9d758;*/
/*}*/