.dot {
    background-color: white;
    width: 5px;
    border-radius: 9999px;
    aspect-ratio: 1/1;
    position: absolute;
    transition-property: top, left, width;
    transition: 1000ms linear;
    z-index: 0;
}